@CHARSET "UTF-8";

.state_live {
  color: green;
  font-weight:bolder;
}

.revision-live {
  background-color: #aaffaa;
  font-weight:bolder;
}

.revision-unpublished {
  background-color: #ffaaaa;
  font-weight:bolder;
}
